mat-accordion {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

p {
  font-size: 12px;
}
