<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Resume
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item *ngFor="let card of resumeCards"
                     routerLink="/" routerLinkActive="active" [fragment]="card.link_anchor">
        {{card.nav_title}}
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Projects
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a href="/todolistng/">
        <mat-list-item>
          ToDoListNg
        </mat-list-item>
      </a>
      <a href="/synth/">
        <mat-list-item>
          Virtual Synthesizer
        </mat-list-item>
      </a>
      <a href="/synth-mobile/">
        <mat-list-item>
          Mobile Virtual Synthesizer
        </mat-list-item>
      </a>
      <a href="/animated-cones/">
        <mat-list-item>
          3D Animated Cones
        </mat-list-item>
      </a>
      <a href="https://share.streamlit.io/emapco/ca-covid-vaccination-dashboard" target="_blank">
        <mat-list-item>
          CA COVID-19 Dashboard
          <mat-icon>launch</mat-icon>
        </mat-list-item>
      </a>
      <mat-list-item routerLink="/pathfindingVisualizer" routerLinkActive="active">
        Pathfinding Visualizer
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Undergraduate Research
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item routerLink="/borane-activation-research" routerLinkActive="active">
        Borane Activation
      </mat-list-item>
      <mat-list-item routerLink="/oat-research" routerLinkActive="active">
        Oxygen Atom Transfer
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
<section class="bottom">
  <p>&copy; Emmanuel Cortes {{currentYear}}</p>
</section>
