#container {
  height: 45%;
  width: 50%;
  position: absolute;
  justify-self: center;
  align-self: center;
}

:host {
  height: 400px !important;
  width: 352px !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

