<div class="grid place-items-center">
  <img *ngIf="lazyLoad; else eager"
       [src]=resImg.src
       [srcset]=resImg.srcSet
       [sizes]="sizes"
       [alt]="alt"
       loading="lazy"
       [class]="class"
       [width]="width"
       [height]="height"
       onload="this.removeAttribute('width');this.removeAttribute('height');"
  />
  <ng-template #eager>
    <img
      [src]=resImg.src
      [srcset]=resImg.srcSet
      [sizes]="sizes"
      [alt]="alt"
      loading="eager"
      [class]="class"
      [width]="width"
      [height]="height"
      onload="this.removeAttribute('width');this.removeAttribute('height');"
    />
  </ng-template>
</div>
