<div class="flex-col-center">
  <mat-card class="card-div">
    <mat-card-content>
      <div class="img-div flex-col-center">
        <img src="../../../assets/images/headshot.jpg" alt="Headshot photo" />
      </div>
      <br />
      <p>
        <span class="highlight-gradient first-letter">H</span>ello, I'm
        <span class="highlight-gradient">Emmanuel Cortes</span>. I'm interested
        in job opportunities in data analysis, software development, and/or
        chemistry.
      </p>
      <p>
        I graduated from UC Berkeley in 2020 with a B.S. in chemistry. Since
        then, I have worked towards an A.S. in computer science. Recently, I was
        admitted to a part-time online multidisciplinary master of science
        program called
        <a href="https://msse.berkeley.edu/" target="_blank"
          >Molecular Science and Software Engineering</a
        >
        (MSSE).
      </p>
      <p>
        My hobbies include playing the piano, reading, learning new web
        technologies, and playing tactical shooters.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        routerLink="/resume"
        routerLinkActive="active"
      >
        Resume
      </button>
      <button
        mat-raised-button
        color="accent"
        routerLink="/projects"
        routerLinkActive="active"
      >
        Projects
      </button>
      <button
        mat-raised-button
        color="accent"
        routerLink="/borane-activation-research"
        routerLinkActive="active"
      >
        Borane Activation Research
      </button>
      <button
        mat-raised-button
        color="accent"
        routerLink="/oat-research"
        routerLinkActive="active"
      >
        Oxygen Atom Transfer Research
      </button>
    </mat-card-actions>
  </mat-card>
</div>
