<div class="flex-col-center">
  <mat-card class="w-5/6 md:w-4/6 !rounded-lg">
    <mat-card-content>
      <div class="bg-gradient-to-tr from-primary via-blue-200 to-primary
  overflow-hidden flex-col-center rounded-xl">
        <img  src="https://raw.githubusercontent.com/emapco/ecortesNg/master/src/assets/images/headshot.webp" alt="Headshot photo" />
      </div>
      <br />
      <p>
        <span class="highlight-gradient text-5xl font-bold">H</span>ello, I'm
        <span class="highlight-gradient">Emmanuel Cortes</span>.</p>
      <p>
        I'm a part-time Master's student at
        <a href="https://msse.berkeley.edu">MSSE</a>
        and currently looking for opportunities in software engineering or data analytics.
      </p>
      <p>
        My hobbies include playing the piano, learning new web
        technologies, programming simulations, and playing tactical shooters.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        routerLink="/resume"
        routerLinkActive="active"
      >
        Resume
      </button>
      <button
        mat-raised-button
        color="accent"
        routerLink="/projects"
        routerLinkActive="active"
      >
        Projects
      </button>
    </mat-card-actions>
    Summaries of my undergrad research with interactive diagrams:
    <mat-card-actions>
      <button
        class="rsbutton"
        mat-raised-button
        color="accent"
        routerLink="/borane-activation-research"
        routerLinkActive="active"
      >
        Borane Activation Research
      </button>
      <button
        class="rsbutton"
        mat-raised-button
        color="accent"
        routerLink="/oat-research"
        routerLinkActive="active"
      >
        Oxygen Atom Transfer Research
      </button>
    </mat-card-actions>
  </mat-card>
</div>
