<div  class="flex-center">
  <div class="img-div flex-center">
    <img src="../../../assets/images/headshot.jpg"
         alt="Headshot photo">
  </div>
  <mat-card class="text-div">
    <mat-card-content>
      <p class="">
        <span class="highlight-gradient first-letter">H</span>ello, I'm
        <span class="highlight-gradient">Emmanuel Cortes</span>. I'm interested in job opportunities in data analysis,
        software development, and/or chemistry.
      </p>
      <p>
        I graduated from UC Berkeley in 2020 with a B.S. in chemistry. Since then,
        I have worked towards an A.S. in computer science.
      </p>
      <p>
        Recently, I was admitted to a part-time online multidisciplinary master of science program
        called Molecular Science and Software Engineering (MSSE). The program is offered by UC Berkeley's
        College of Chemistry and College of Engineering.
      </p>
      <p>
        My hobbies include playing the piano, reading, learning new web technologies,
        and playing tactical shooters.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent"
              routerLink="/resume" routerLinkActive="active">
        Resume
      </button>
    </mat-card-actions>
  </mat-card>
</div>

