.mech {
  width: 95%;
}

p {
  padding: .5em 0;
}

.img-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 60% !important;
}

:host {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
