.mech {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

p {
  padding: .5em 0;
}

.img-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.fixed-size {
  width: 420px;
  height: 284px;
}

mat-card {
  width: 60% !important;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:host {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
