:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

p {
  padding: .5em 0;
}

figure {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 60% !important;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

