mat-nav-list {
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  margin: 0;
  padding: 0;
}

mat-accordion {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.right-side {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
}
