<mat-nav-list>
  <section>
    <mat-list-item (click)="menuToggled.emit()">
      <mat-icon>menu</mat-icon>
    </mat-list-item>
  </section>
  <section>
    <mat-list-item routerLink="" routerLinkActive="active">Emmanuel Cortes</mat-list-item>
  </section>
  <section class="right-side">
    <a href="https://www.linkedin.com/in/mannycortes/">
      <mat-list-item>
        <mat-icon svgIcon="linkedin" matTooltip="LinkedIn"></mat-icon>
      </mat-list-item>
    </a>
    <a href="https://github.com/emapco">
      <mat-list-item>
        <mat-icon svgIcon="github" matTooltip="GitHub"></mat-icon>
      </mat-list-item>
    </a>
    <mat-list-item (click)="toggleMode()">
      <mat-icon *ngIf="!lightMode" matTooltip="Switch to light mode">light_mode</mat-icon>
      <mat-icon *ngIf="lightMode" matTooltip="Switch to night mode">dark_mode</mat-icon>
    </mat-list-item>
  </section>
</mat-nav-list>
<mat-divider></mat-divider>
