<mat-nav-list class="!flex flex-row flex-nowrap h-auto m-0 !p-0">
  <div>
    <mat-list-item class="md:!hidden" (click)="menuToggled.emit()">
      <mat-icon>menu</mat-icon>
    </mat-list-item>
  </div>

  <div>
    <mat-list-item routerLink="" routerLinkActive="active">Emmanuel Cortes</mat-list-item>
  </div>

  <app-accordion-content [hideToggle]="true" [openAll]="true" class="hidden md:flex"></app-accordion-content>

  <div class="flex flex-row ml-auto">
    <a href="https://www.linkedin.com/in/mannycortes/">
      <mat-list-item>
        <mat-icon svgIcon="linkedin" matTooltip="LinkedIn"></mat-icon>
      </mat-list-item>
    </a>
    <a href="https://github.com/emapco">
      <mat-list-item>
        <mat-icon svgIcon="github" matTooltip="GitHub"></mat-icon>
      </mat-list-item>
    </a>
  </div>
</mat-nav-list>
<mat-divider class="mt-1 z-[105]"></mat-divider>
