<mat-nav-list>
  <section>
    <mat-list-item (click)="menuToggled.emit()">
      <mat-icon>menu</mat-icon>
    </mat-list-item>
  </section>
  <section>
    <mat-list-item routerLink="" routerLinkActive="active">Emmanuel Cortes</mat-list-item>
  </section>
  <section class="right-side">
    <a href="https://www.linkedin.com/in/mannycortes/" title="LinkedIn">
      <mat-list-item>
        <img src="../../../assets/icons/linkedin-white.svg" alt="LinkedIn">
      </mat-list-item>
    </a>
    <a href="https://github.com/emapco" title="GitHub">
      <mat-list-item>
        <img src="../../../assets/icons/github-white.svg" alt="GitHub">
      </mat-list-item>
    </a>
    <mat-list-item (click)="toggleMode()">
      <mat-icon *ngIf="!lightMode" matTooltip="Switch to light mode">light_mode</mat-icon>
      <mat-icon *ngIf="lightMode" matTooltip="Switch to night mode">dark_mode</mat-icon>
    </mat-list-item>
  </section>
</mat-nav-list>
<mat-divider></mat-divider>
