@use '../../node_modules/@angular/material/index' as mat;

@mixin background($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  app-header  {
    background-color: mat.get-color-from-palette($accent) !important;
  }

  mat-drawer, mat-expansion-panel {
    background-color: mat.get-color-from-palette($accent) !important;
  }

  div, app-header, mat-panel-title, .mat-expansion-indicator::after, img{
    color: #dfe7f1 !important;
  }

  a {
    color: #4d85ce;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include background($theme);
  }
}
