:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidenav {
  position: fixed;
}

app-header {
  width: 100%;
  position: fixed;
  z-index: 101;
  opacity: 1;
}

.app-container, .sidenav {
  padding-top: 5vh;
  min-height: 100vh;
}

.app-container {
  width: 100%;
  padding: 3.5em 0;
}

.content {
  height: 100%;
  display: flex;
  margin: auto;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

