<div class="!overflow-hidden">
  <!-- particles.js canvas -->
  <div class="w-full h-auto absolute
  bottom-0 z-[100] bg-[#303030]">
    <canvas repulse-particles
            [number]="75" [speed]="animationSpeed"
            [repulseDistance]="0"
            [size]="4.5" [linkWidth]="0.75"></canvas>
  </div>
  <!-- webpage content -->
  <app-header class="w-full fixed z-[102] opacity-1"
              (menuToggled)="drawer.toggle()"></app-header>
  <mat-drawer-container class="!overflow-auto !absolute !z-[101]
  pt-12 max-h-screen m-0 inset-0">
    <mat-drawer #drawer mode="side" class="!fixed pt-12">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <section class="!flex flex-col flex-nowrap justify-center items-center" role="main">
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-container>
</div>
