:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container, .sidenav {
  padding-top: 3rem;
  min-height: 100vh;
}

.sidenav {
  position: fixed;
}

app-header {
  width: 100%;
  position: fixed;
  z-index: 101;
  opacity: 1;
}

.content {
  padding: 0 .01rem;
}

