<div>
  <div class="particles-wrapper">
    <canvas repulse-particles
            [number]="70" [speed]="5"
            [repulseDistance]="0"
            [size]="4.5" [linkWidth]="0.75"></canvas>
  </div>
  <app-header id="header" (menuToggled)="drawer.toggle()"></app-header>
  <mat-drawer-container class="app-container">
    <mat-drawer #drawer mode="side" class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <section class="content flex-row-center" role="main">
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-container>
</div>
