mat-nav-list, mat-expansion-panel, mat-accordion {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 12px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
