<div class="flex-col-center">
  <!-- ToDoListNg -->
  <mat-card>
    <mat-card-title><u>ToDoListNg</u></mat-card-title>
    <mat-card-subtitle>Angular, TypeScript, SCSS, AWS</mat-card-subtitle>
    <mat-card-content>
      <div class="flex-row-center">
        <img
          alt="image of to do list web app"
          src="/assets/images/todolist.png"
        />
      </div>
      <br />
      <p>
        ToDoListNg is an web application for creating, reading, updating, and
        deleting tasks. The application is integrated with AWS cloud services
        such as DynamoDB for task storage and AWS Cognito for user
        authentication. The backend API was created with Amazon API Gateway. The
        backend API communicates with AWS Lambda functions to handle DB queries.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="/todolistng/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      <a href="https://github.com/emapco/ToDoListNg" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- Val-Info -->
  <mat-card>
    <mat-card-title><u>Val-Info</u></mat-card-title>
    <mat-card-subtitle
      >Ionic, Vue 3, TypeScript, Tailwind CSS</mat-card-subtitle
    >
    <mat-card-content>
      <div class="flex-row-center">
        <video controls class="video">
          <source src="/assets/videos/valapp.mp4" type="video/mp4" />
        </video>
      </div>
      <br />
      <p>
        Val-Info is an Ionic/Vue mobile web app orientent around the video game,
        Valorant. The app features patch notes, a news feed and a lineup
        database.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="/todolistng/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      <a href="https://github.com/emapco/ToDoListNg" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- Virtual Synth -->
  <mat-card>
    <mat-card-title><u>Virtual Synthesizer</u></mat-card-title>
    <mat-card-subtitle>Angular, TypeScript</mat-card-subtitle>
    <mat-card-content>
      <div class="flex-row-center">
        <img
          alt="image of synthesizer web app"
          src="/assets/images/synth.png"
        />
      </div>
      <br />
      <p>
        A synthesizer web application that can be played using a keyboard or
        with a touchscreen. The user can enable oscillators and modify their
        waveform, octave, gain, tuning. Filters can also be applied to the
        oscillators.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="/synth/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      <a href="https://github.com/emapco/virtualSynthNg" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- Mobile Virtual Synth -->
  <mat-card>
    <mat-card-title><u>Mobile Virtual Synthesizer</u></mat-card-title>
    <mat-card-subtitle>Angular, Ionic, TypeScript, SCSS</mat-card-subtitle>
    <mat-card-content>
      <div class="flex-col-center">
        <img
          alt="image of mobile synthesizer web app"
          src="/assets/images/mobile-synth.jpg"
        />
      </div>
      <br />
      <p>
        Ionic mobile web application port of Virtual Synthesizer. Synthesizer
        can be played with a touchscreen. The user can enable oscillators and
        modify their waveform, octave, gain, tuning. Filters can also be applied
        to the oscillators.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="/synth-mobile/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      <a href="https://github.com/emapco/virtual-synth-ionic" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- 3D Animated Cones -->
  <mat-card>
    <mat-card-title><u>3D Animated Cones</u></mat-card-title>
    <mat-card-subtitle
      >Vue 3, Three.js, TypeScript, Tailwind CSS</mat-card-subtitle
    >
    <mat-card-content>
      <div class="flex-row-center">
        <img
          alt="image of animated cones website"
          src="/assets/images/cones.png"
        />
      </div>
      <br />
      <p>
        A small Three.js web app that randomly generates cones with animated
        rotations. The user may add randomly generated cones or cones with
        custom attributes (radius, height, radial segments, color, position).
        Created mainly to practice working with Vue.js and Three.js.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="/animated-cones/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      <a href="https://github.com/emapco/animated-cones" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- CA COVID-19 Dashboard -->
  <mat-card>
    <mat-card-title><u>CA COVID-19 Dashboard</u></mat-card-title>
    <mat-card-subtitle
      >Python 3.7, Streamlit, Pandas, GeoPandas, pydeck,
      Altair</mat-card-subtitle
    >
    <mat-card-content>
      <div class="flex-row-center">
        <img
          alt="image of streamlit dashboard"
          src="/assets/images/dashboard.png"
        />
      </div>
      <br />
      <p>Dashboard was created using the streamlit library.</p>
      <p>
        The project encompassed utilizing the pandas library for data cleaning,
        formatting, aggregation, and analysis. Geographical data was formatted
        with the geopandas library and visualized using the pydeck library.
        Charts were visualized using the altair library.
      </p>
      <p>
        Dashboard contains vaccination data broken down by demographics, vaccine
        maker, and by county. County data is displayed on a pydeck 3D map.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        href="https://share.streamlit.io/emapco/ca-covid-vaccination-dashboard"
      >
        <button mat-raised-button color="accent">
          Live demo
          <mat-icon>launch</mat-icon>
        </button>
      </a>
      <a
        href="https://github.com/emapco/CA-Covid-Vaccination-Dashboard"
        target="_blank"
      >
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- Pathfinding Algorithm   -->
  <mat-card>
    <mat-card-title><u>Pathfinding Algorithm Visualizer</u></mat-card-title>
    <mat-card-subtitle>Python 3.7, PyQt5</mat-card-subtitle>
    <mat-card-content>
      <div class="flex-row-center">
        <img
          alt="image of python application"
          src="/assets/images/pathfinding.png"
        />
      </div>
      <br />
      <p>
        Pathfinding Algorithm Visualizer is a desktop application built with
        Python.
      </p>
      <p>
        On this app, you can modify a grid by adding and removing barriers.
        There are three different types of barriers that at your disposal. Two
        of which (the green and orange blocks in the image below) can have their
        weight be modified. The black barriers, however, are impenetrable.
      </p>
      <p>
        You can also specify the starting and ending locations for the path,
        whether to animate the pathfinding algorithm and which algorithm to
        utilize.
      </p>
      <p>Supported algorithms: Breadth-first search, Dijkstra, A-Star.</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        routerLink="/pathfindingVisualizer"
        routerLinkActive="active"
      >
        Read more
      </button>
      <a href="https://github.com/emapco/PathfindingVisualizer" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
