<div class="flex-col-center">
  <!-- ToDoListNg -->
  <mat-card>
    <mat-card-title><u>ToDoListNg</u></mat-card-title>
    <mat-card-subtitle>Angular, TypeScript, SCSS, AWS</mat-card-subtitle>
    <mat-card-content>
      <app-picture class="w-full shadow-sm"
                   [resImg]="todolist_set"
                   loading="eager"
                   alt="image of to do list web app"></app-picture>
      <br />
      <p>
        ToDoListNg is an web application for creating, reading, updating, and
        deleting tasks. The application is integrated with AWS cloud services
        such as DynamoDB for task storage and AWS Cognito for user
        authentication. The backend API was created with Amazon API Gateway. The
        backend API communicates with AWS Lambda functions to handle DB
        operations.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="/todolistng/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      <a href="https://github.com/emapco/ToDoListNg" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- Val-Info -->
  <mat-card>
    <mat-card-title><u>ValInformer (PWA)</u></mat-card-title>
    <mat-card-subtitle
      >Ionic, Vue 3, TypeScript, Tailwind CSS</mat-card-subtitle
    >
    <mat-card-content>
      <div class="flex-row-center">
        <video controls class="w-full shadow-sm">
          <source src="/assets/videos/valapp.mp4" type="video/mp4" />
        </video>
      </div>
      <br />
      <p>
        ValInformer is an Ionic/Vue progressive web app orientented around the
        video game, Valorant. The app features patch notes, development updates,
        a news feed and a lineup database.
      </p>
      <p>A bit about the backend:</p>
      <ul>
        <li>
          Statically hosted files are encoded (brotli) to ensure the smallest
          amount of data is transferred.
        </li>
        <li>
          Images are programmatically retrieved depending on the device's screen
          size ensuring the images are sufficiently large.
        </li>
        <li>
          An API Gateway HTTP API was created to circumvent restrictive
          <abbr title="Cross-Origin Resource Sharing">CORS</abbr> policies. The
          API invokes an AWS Lambda function which fetches an RSS feed from a
          URL (that is passed as a parameter) and returns the feed in the API
          response.
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <a href="/val/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      <a href="https://github.com/emapco/valorant-news-lineups" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
    <!-- Digit Classifier -->
  </mat-card>
  <!-- Digit classifier -->
  <mat-card>
    <mat-card-title><u>Digit Classifier API</u></mat-card-title>
    <mat-card-subtitle
      >Flask, Python 3, Scikit-learn, Vue3, TypeScript</mat-card-subtitle
    >
    <mat-card-content>
      <app-picture class="w-full shadow-sm"
                   [resImg]="ml_api_client_set"
                   alt="Machine learning api frontend client"></app-picture>
      <br />
      <p>
        K nearest neighbors classification and random forest classification
        models were trained using the MNIST digits classification dataset.
      </p>
      <p>
        The models were implemented in python 3 using the scikit-learn library. In particular, the KNeighborsClassifier and RandomForestClassifier classes were used.
      </p>
      <p>
        These two models were chosen since they were the best performing (the highest scores against the test dataset) out of the four models tested. Afterwards, the two models' hyperparameters were fined tuned using the GridSearchCV class.
      </p><br>
      <p>
        To deploy the models, I created an API with flask that receives
        images and returns the model's prediction and probabilities.
      </p>
      <p>
        I then developed a frontend with Vue.js to interface with the API. The
        frontend has a drawing canvas where the user can draw a digit and request the API for a prediction.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!--
      <a href="/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      -->
      <a
        href="https://github.com/emapco/DigitClassificationAPI"
        target="_blank"
      >
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- Virtual Synth -->
  <mat-card>
    <mat-card-title><u>Virtual Synthesizer</u></mat-card-title>
    <mat-card-subtitle>Angular, TypeScript</mat-card-subtitle>
    <mat-card-content>
      <app-picture class="w-full shadow-sm"
                   [resImg]="synth_set"
                   alt="image of synthesizer web app"></app-picture>
      <br />
      <p>
        A synthesizer web application that can be played using a keyboard or
        with a touchscreen. The user can enable oscillators and modify their
        waveform, octave, gain, tuning. Filters can also be applied to the
        oscillators.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="/synth/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      <a href="https://github.com/emapco/virtualSynthNg" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- Mobile Virtual Synth -->
  <mat-card>
    <mat-card-title><u>Mobile Virtual Synthesizer</u></mat-card-title>
    <mat-card-subtitle>Angular, Ionic, TypeScript, SCSS</mat-card-subtitle>
    <mat-card-content>
      <div class="flex-col-center">
        <app-picture class="w-3/5 md:w-2/5 lg:w-2/5 shadow-sm"
                     [resImg]="mobile_synth_set"
                     alt="image of mobile synthesizer web app"></app-picture>
      </div>
      <br />
      <p>
        An Ionic mobile web application port of Virtual Synthesizer. Synthesizer
        can be played with a touchscreen. The user can enable oscillators and
        modify their waveform, octave, gain, tuning. Filters can also be applied
        to the oscillators.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="/synth-mobile/">
        <button mat-raised-button color="accent">Live demo</button>
      </a>
      <a href="https://github.com/emapco/virtual-synth-ionic" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- CA COVID-19 Dashboard -->
  <mat-card>
    <mat-card-title><u>CA COVID-19 Dashboard</u></mat-card-title>
    <mat-card-subtitle
      >Python 3.7, Streamlit, Pandas, GeoPandas, pydeck,
      Altair</mat-card-subtitle
    >
    <mat-card-content>
      <app-picture class="w-full shadow-sm"
                   [resImg]="dashboard_set"
                   alt="image of a StreamLit COVID-19 dashboard"></app-picture>
      <br />
      <p>Dashboard was created using the streamlit library.</p>
      <p>
        The project encompassed utilizing the pandas library for data cleaning,
        formatting, aggregation, and analysis. Geographical data was formatted
        with the geopandas library and visualized using the pydeck library.
        Charts were visualized using the altair library.
      </p>
      <p>
        Dashboard contains vaccination data broken down by demographics, vaccine
        maker, and by county. County data is displayed on a pydeck 3D map.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        href="https://share.streamlit.io/emapco/ca-covid-vaccination-dashboard"
      >
        <button mat-raised-button color="accent">
          Live demo
          <mat-icon>launch</mat-icon>
        </button>
      </a>
      <a
        href="https://github.com/emapco/CA-Covid-Vaccination-Dashboard"
        target="_blank"
      >
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!-- Pathfinding Algorithm   -->
  <mat-card>
    <mat-card-title><u>Pathfinding Algorithm Visualizer</u></mat-card-title>
    <mat-card-subtitle>Python 3.7, PyQt5</mat-card-subtitle>
    <mat-card-content>
      <app-picture class="w-full"
                   [resImg]="pathfinding_set"
                   alt="image of python application"></app-picture>
      <br />
      <p>
        Pathfinding Algorithm Visualizer is a desktop application built with
        Python.
      </p>
      <p>
        In this app, you can modify a grid by adding and removing barriers.
        There are three different types of barriers that at your disposal. Two
        of which (the green and orange blocks in the image below) can have their
        weight be modified. The black barriers, however, are impenetrable.
      </p>
      <p>
        You can also specify the starting and ending locations for the path,
        whether to animate the pathfinding algorithm and which algorithm to
        utilize.
      </p>
      <p>Supported algorithms: Breadth-first search, Dijkstra, A-Star.</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        routerLink="/projects/pathfindingVisualizer"
        routerLinkActive="active"
      >
        Read more
      </button>
      <a href="https://github.com/emapco/PathfindingVisualizer" target="_blank">
        <button mat-raised-button color="accent">
          Source code
          <mat-icon>launch</mat-icon>
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
