/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind utilities;

/**
  Typography
 */
body {
  height: 100%;
  margin: 0;
  font-size: 14px !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 26px !important;
}

a:hover {
  color: #1976d2;
  text-decoration: none;
}

/**********************************
  Markdown Typography
***********************************/
markdown, markdown p {
  font-size: 16px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

markdown p strong {
  font-weight: 500;
}

/**********************************
  Material Angular Component styles
***********************************/
mat-card {
  margin: 1.5em 0;
  background-color: rgba(66,66,66,0.87) !important;
  max-width: 1024px !important;
  @apply w-5/6 sm:w-3/4;
}

mat-drawer-container {
  background-color: rgba(45,45,45,0) !important;
}

mat-list-item, mat-panel-title, .mat-expansion-indicator::after, app-sidebar {
  color: white !important;
}

button {
  @apply bg-gradient-to-r hover:-translate-y-px
  hover:from-secondary hover:via-blue-700 hover:to-secondary;
}

/**********************************
  Tailwind CSS Layout Util Classes
***********************************/
@layer utilities {
  .flex-col-center {
    @apply flex flex-col flex-nowrap justify-center items-center;
  }

  .flex-row-center {
    @apply flex flex-row flex-nowrap justify-center items-center;
  }
}
