/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  margin: 0;
}

p {
  @apply text-base;
}

h1 {
  font-size: 26px !important;
}

a:hover {
  color: #1976d2;
  text-decoration: none;
}

/**********************************
  Markdown styles
***********************************/
markdown, markdown p {
  font-size: 16px;
  -webkit-font-smoothing: antialiased !important;
}

markdown p strong {
  font-weight: 500;
}

/**********************************
  Material Angular Component styles
***********************************/
mat-card {
  margin: 1.5em 0;
}

mat-icon {
  transform: scale(1);
}

mat-list-item, mat-panel-title, .mat-expansion-indicator::after, app-sidebar {
  color: white !important;
}
