/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p{
  font-size: 18px;
}

mat-card-title {
  font-size: 30px !important;
}

mat-card {
  margin: 12px 0;
}

h1 {
  font-size: 26px !important;
}

markdown p {
  font-size: 16px;
  padding: 0 0 !important;
  margin: 0 0;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  color: #1976d2;
  text-decoration: none;
}

mat-icon {
  transform: scale(.75);
}
